.boxes {
	background-color: #444444;
	color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.headbox {
	height: 60px;
	display: grid;
	grid-template-columns: 7fr 1fr 1fr;
	align-items: center;
	justify-items: left;
}

.headbox .titlename {
	font-size: 24px;
	font-weight: 700;
	margin-left: 2rem;
}

.headbox > p {
	font-size: 18px;
	font-weight: 700;
	margin: 0 1rem;
}

.footbox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	align-items: center;
	padding: 0 20px;
	height: 60px;
}

@media print {
	.boxes {
		display: none;
	}
}
